/* .body {
  margin-left: auto;
  margin-right: auto;
} */

img {
  width: 100%;
}
header {
  font-family: 'Abril Fatface', cursive;
  color: #222;
  position: relative;
}

#header {
  position: absolute;
  left: 20%;
  bottom: 5px;
}

div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin: 0px;
  margin-bottom: -10px;
  font-size: 35px;
  font-weight: normal;
}
h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 65px;
  font-weight: normal;
}

main {
  font-family: 'Josefin Sans', sans-serif;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  color: #222;
  line-height: 150%;
}

.p1 {
  font-size: 18px;
  margin-top: 50px;
}

.ul {
  font-size: 18px;
  margin-left: -15px;
}

ul { margin-left: -15px; }


.subtitle {
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
/*   font-family: 'Merriweather', serif; */
/*   font-style: italic; */
  color: white;
  background-color: grey;
  padding: 30px 25px;
  position: relative;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.marks {
  font-size: 60px;
  position: absolute;
  left: 5px;
  top: -100px;
}

.upper {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}

.bold {
  font-weight: bold;
  font-size: 18px;
}
.bold2 {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: -4px;
}
.italic {
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  margin-top: 0px;
}

hr {
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}